[Unit]
Description=Y-Bot Web Chat Client

[Service]
User=ubuntu
ExecStart=/opt/servusai-y/web/scripts/xnix/servusai-web.sh
Restart=always

[Install]
WantedBy=multi-user.target

