[Unit]
Description=Y-Bot REST Client

[Service]
User=ubuntu
ExecStart=/opt/servusai-y/rest/scripts/xnix/servusai-rest.sh
Restart=always

[Install]
WantedBy=multi-user.target

